n8n-workflows/ticker-final.json
{
  "name": "Ticker Update Final",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every 4 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://ynyaakoeygdualrqqusj.supabase.co/rest/v1/news",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlueWFha29leWdkdWFscnFxdXNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTkwNzM2OSwiZXhwIjoyMDc1NDgzMzY5fQ.BbktikW20ds80aOQmQydd1fxGJXRat3HjNkfhAREkpU"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlueWFha29leWdkdWFscnFxdXNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTkwNzM2OSwiZXhwIjoyMDc1NDgzMzY5fQ.BbktikW20ds80aOQmQydd1fxGJXRat3HjNkfhAREkpU"
            }
          ]
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "order",
              "value": "pub_date.desc"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "id": "get-news",
      "name": "Get News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Seleccionar noticias para el ticker\nconst items = [];\nconst weekAgo = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);\nconst categoryCount = {};\nlet selected = 0;\n\n// Obtener los datos del nodo anterior\nconst inputData = $input.all();\nlet newsArray = [];\n\n// Manejar diferentes formatos de datos\nif (inputData.length > 0) {\n  if (Array.isArray(inputData[0].json)) {\n    // Si json es un array directo\n    newsArray = inputData[0].json;\n  } else if (inputData[0].json && typeof inputData[0].json === 'object') {\n    // Si cada item es una noticia\n    newsArray = inputData.map(item => item.json);\n  }\n}\n\n// Procesar cada noticia\nfor (const news of newsArray) {\n  if (selected >= 10) break;\n  \n  const pubDate = new Date(news.pub_date);\n  if (pubDate < weekAgo) continue;\n  \n  const cat = news.category;\n  if (!categoryCount[cat]) {\n    categoryCount[cat] = 0;\n  }\n  \n  if (categoryCount[cat] < 2) {\n    items.push({\n      json: {\n        id: news.id,\n        category: news.category,\n        severity: news.severity || 'medium'\n      }\n    });\n    categoryCount[cat]++;\n    selected++;\n  }\n}\n\nreturn items;"
      },
      "id": "select-news",
      "name": "Select News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://ynyaakoeygdualrqqusj.supabase.co/rest/v1/news?is_featured=eq.true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlueWFha29leWdkdWFscnFxdXNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTkwNzM2OSwiZXhwIjoyMDc1NDgzMzY5fQ.BbktikW20ds80aOQmQydd1fxGJXRat3HjNkfhAREkpU"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlueWFha29leWdkdWFscnFxdXNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTkwNzM2OSwiZXhwIjoyMDc1NDgzMzY5fQ.BbktikW20ds80aOQmQydd1fxGJXRat3HjNkfhAREkpU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "is_featured",
              "value": "=false"
            }
          ]
        },
        "options": {}
      },
      "id": "clear-ticker",
      "name": "Clear Ticker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batch",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://ynyaakoeygdualrqqusj.supabase.co/rest/v1/news?id=eq.' + $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlueWFha29leWdkdWFscnFxdXNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTkwNzM2OSwiZXhwIjoyMDc1NDgzMzY5fQ.BbktikW20ds80aOQmQydd1fxGJXRat3HjNkfhAREkpU"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlueWFha29leWdkdWFscnFxdXNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTkwNzM2OSwiZXhwIjoyMDc1NDgzMzY5fQ.BbktikW20ds80aOQmQydd1fxGJXRat3HjNkfhAREkpU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "is_featured",
              "value": "=true"
            }
          ]
        },
        "options": {}
      },
      "id": "update-news",
      "name": "Update News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "content": "## Workflow Final del Ticker\n\n1. Obtiene las 50 noticias más recientes\n2. Selecciona máx 10 (2 por categoría)\n3. Limpia el ticker anterior\n4. Actualiza una por una las nuevas\n\nNota: Usa versión 1 del nodo Code\ny Split In Batches para evitar errores",
        "height": 180,
        "width": 260
      },
      "id": "notes",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [120, 120]
    }
  ],
  "connections": {
    "Every 4 hours": {
      "main": [
        [
          {
            "node": "Get News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get News": {
      "main": [
        [
          {
            "node": "Select News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select News": {
      "main": [
        [
          {
            "node": "Clear Ticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Ticker": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Update News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update News": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "ticker-final",
  "meta": {
    "instanceId": "n8n"
  },
  "tags": []
}